<?xml version="1.0" encoding="UTF-8"?>
<!--
  Visual Studio Integration for AsmHighlighter
  Installer root features, upgrades, and product definition
-->

<?define ProductShortName = "AsmHighlighter" ?>
<?define ProductDescription = "AsmHighlighter is an extension to Visual Studio 2008 that provides syntax highlighting for x86 ASM language." ?>
<?define ProductVersion = "1.3.0" ?>
<?define ProductVersionText = "1.3" ?>
<?define Manufacturer = "Alexandre Mutel" ?>
<?define UpgradeCode = "B9DB0D8D-86C9-4f73-91A1-EA768D125128" ?>
<?define ProductCode = "A403DF97-BB2F-42a9-84EE-906804CFA1ED" ?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

  <?include $(var.VariablesFile)?>

  <Product Id="$(var.ProductCode)" UpgradeCode="$(var.UpgradeCode)" Name="$(var.ProductShortName) $(var.ProductVersionText)" Version="$(var.ProductVersion)" Language="$(var.ProductLanguage)" Manufacturer="$(var.Manufacturer)">
    <Package Compressed="yes" Description="$(var.ProductDescription). $(var.ProductShortName) $(var.ProductVersionText) ($(var.ProductVersion))" InstallerVersion="200" ShortNames="no" Manufacturer="$(var.Manufacturer)"/>
    <Media Id="1" Cabinet="AsmHighlighter.cab" EmbedCab="yes" />

    <!-- Major upgrade -->
    <Upgrade Id="$(var.UpgradeCode)">
      <UpgradeVersion Minimum="$(var.ProductVersion)" OnlyDetect="yes" Property="NEWERVERSIONDETECTED" />
      <UpgradeVersion Minimum="0.0.0" IncludeMinimum="yes" Maximum="$(var.ProductVersion)" IncludeMaximum="no" Property="OLDERVERSIONBEINGUPGRADED" />
    </Upgrade>

    <!-- Specify Icon for Add and Remove programs -->
    <Icon Id='AsmHighlighter.dll.exe' SourceFile='Bitmaps\PackageIcon16x16.ico'/>

    <PropertyRef Id="VS90DEVENV" />
    <PropertyRef Id="VS90_ROOT_FOLDER" />
    <CustomActionRef Id="VS90Setup" /> 

    <!-- Properties -->
    <Property Id="ARPPRODUCTICON" Value="AsmHighlighter.dll.exe" />
    <Property Id="ALLUSERS" Value="1" />
    <Property Id="ARPHELPLINK" Value="http://asmhighlighter.codeplex.com" />
    <Property Id="ARPURLINFOABOUT" Value="http://asmhighlighter.codeplex.com" />
    <Property Id="ARPURLUPDATEINFO" Value="http://asmhighlighter.codeplex.com" />

    <!-- Launch conditions -->
    <Condition Message="An administrator must approve or install [ProductName]."> Privileged </Condition>
    <Condition Message="A later version of [ProductName] is already installed."> NOT NEWERVERSIONDETECTED </Condition>
    <Condition Message="[ProductName] requires Visual Studio 2008. ([VS90DEVENV])"> VS90DEVENV </Condition>

    <!-- Root directories -->
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder" Name="PFILES">
        <Directory Id="INSTALLDIR" Name="Visual Studio Integration for AsmHighlighter">
        </Directory>
      </Directory>
    </Directory>
    
        <!-- Root feature -->
    <Feature Id="Feature_AsmHighlighter" ConfigurableDirectory="INSTALLDIR" Absent="disallow" AllowAdvertise="no" Display="hidden" Level="1" Title="AsmHighlighter Integration">
      <ComponentGroupRef Id="CompGroup_Integration" />
    </Feature>

    <!-- Prevent downgrading -->

    <CustomAction Id="PreventDowngrading" Error="Newer version already installed." />

    <CustomAction Id="CA_BlockIfVSIsNotInstalled" Error="[ProductName] requires Visual Studio 2008. ([DEVENV_EXE_PATH])" /> 

    <!-- UI ProgressText -->
    <UI>
        <ProgressText Action="VS90Setup" Template="[1]">Registering [ProductName] to Visual Studio 2008... (this may take a few minutes)</ProgressText>         
    </UI> 

    <!-- Sequences -->
    <InstallExecuteSequence>
      <Custom Action="CA_BlockIfVSIsNotInstalled" Before="CostInitialize">(NOT VS90_ROOT_FOLDER OR NOT VS90DEVENV) AND NOT Installed</Custom>       
      <Custom Action="PreventDowngrading" After="FindRelatedProducts">NEWERVERSIONDETECTED</Custom>
      <RemoveExistingProducts After="InstallValidate" />
      <!-- Runs during both install and uninstall -->
      <Custom Action="VS90Setup" Before="InstallFinalize" />
    </InstallExecuteSequence>

    <InstallUISequence>
      <Custom Action="CA_BlockIfVSIsNotInstalled" Before="CostInitialize">(NOT VS90_ROOT_FOLDER OR NOT VS90DEVENV) AND NOT Installed</Custom>
    </InstallUISequence>

    <!-- User interface -->
    <UIRef Id="WixUI_Minimal" />
    <UIRef Id="WixUI_ErrorProgressText" />    
    <WixVariable Id="WixUIDialogBmp" Value="Bitmaps\dialog.bmp" />
    <WixVariable Id="WixUIBannerBmp" Value="Bitmaps\banner.bmp" />
    <WixVariable Id="WixUILicenseRtf" Value="License.rtf" />        
  </Product>
</Wix>